<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IBM Camp: Home</title>
    <style>
        table#table-1 {
            width: 450px;
            background-color: #CCCCFF;
            margin-top: 5px;
            margin-bottom: 10px;
            border: 3px ridge Gray;
            height: 80px;
            text-align: center;
        }
        table#table-1 h4 {
            color: red;
            display: block;
            margin-bottom: 1px;
        }
        h4 {
            color: blue;
            display: inline;
        }
    </style>
</head>
<body bgcolor="white">

<table id="table-1">
    <tr><td><h3>IBM Camp: Home</h3><h4>( MVC )</h4></td></tr>
</table>

<p>This is the Home page for IBM Camp: Home</p>

<h3>資料查詢:</h3>

<!-- 錯誤訊息顯示 -->
<div th:if="${errorMsgs != null}">
    <font style="color:red">請修正以下錯誤:</font>
    <ul>
        <li th:each="msg : ${errorMsgs}" th:text="${msg}" style="color:red"></li>
    </ul>
</div>

<ul>
    <li><a th:href="@{/back-end/camp/listAll}">顯示所有營地</a><br><br></li>

    <li>
        <form method="get" th:action="@{/back-end/camp/getOne}">
            <b>輸入營地編號 (如1001):</b>
            <input type="text" name="campid"/>
            <button type="submit">送出</button>
        </form>
    </li>

    <li>
        <form method="get" th:action="@{/back-end/camp/getOne}">
            <b>選擇營地編號:</b>
            <select name="campid">
                <option th:each="campVO : ${campList}" 
                        th:value="${campVO.campId}" 
                        th:text="${campVO.campId}"></option>
            </select>
            <button type="submit">送出</button>
        </form>
    </li>

    <li>
        <form method="get" th:action="@{/back-end/camp/getOne}">
            <b>選擇營地名稱:</b>
            <select name="campid">
                <option th:each="campVO : ${campList}" 
                        th:value="${campVO.campId}" 
                        th:text="${campVO.campName}"></option>
            </select>
            <button type="submit">送出</button>
        </form>
    </li>
</ul>

<h3>營地管理</h3>
<ul>
    <li><a th:href="@{/back-end/camp/add}">新增 營地資料</a></li>
</ul>

</body>
</html>
