








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>加購項目資料新增 - addBundleItem.html</title>
<head th:insert="~{/back-end/bundleitem/included-fragment}"></head>
<style type="text/css">
button {
	padding: 5px;
}

form {
	display: table;
}

form div {
	display: table-row;
}

label, input, span, select {
	display: table-cell;
	margin: 5px;
	text-align: left;
}

input[type=text], input[type=password], select, textarea {
	width: 200px;
	margin: 5px;
}

form div div {
	display: table-cell;
}

.center {
	margin-left: auto;
	margin-right: auto;
}
</style>
</head>
<body>

	<nav
		class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		<div align="center">
			<h2>加購項目資料新增 - addBundleItem.html</h2>
			<h3>
				<a class="navbar-brand" th:href="@{/bundleitem/select_page}"><img
					th:src="@{/images/back1.gif}">回查詢頁</a>
			</h3>
		</div>
	</nav>

	<div align="center">
		<h3>
			<b>所有欄位皆為必填欄位</b>
		</h3>
		

			
		<form th:action="@{insert}" method="post" th:object="${bundleItemVO}" enctype="multipart/form-data">

    <div>
        <label>營地編號:</label>
        <select th:field="*{campId}">
            <option value="">-- 請選擇營地 --</option>
            <option th:each="campVO : ${campListData}"
                    th:value="${campVO.campId}"
                    th:text="${campVO.campId + ' - ' + campVO.campName}">
            </option>
        </select>
        <span th:if="${#fields.hasErrors('campId')}"
      th:errors="*{campId}" class="error"></span>
        <br/>
    </div>

			<div>
				<label>加購項目名稱:</label> <input type="text" th:field="*{bundleName}"
					onclick="hideContent('bundleName.errors');" /><br /> <span
					th:if="${#fields.hasErrors('bundleName')}"
					th:errors="*{bundleName}" class="error" id="bundleName.errors"></span>
			</div>

			<div>
                <label>建立日期:</label>
                <span th:text="*{bundleAddDate}"></span>
                <input type="hidden" th:field="*{bundleAddDate}" />
            </div>

			<div>
				<label>加購項目價格:</label> <input type="text" th:field="*{bundlePrice}"
					onclick="hideContent('bundlePrice.errors');" /><br /> <span
					th:if="${#fields.hasErrors('bundlePrice')}"
					th:errors="*{bundlePrice}" class="error" id="bundlePrice.errors"></span>
			</div>

<!-- 						<div> -->
<!-- 						<label>部門:</label> -->
<!-- 						<select th:field="*{deptVO.deptno}"> -->
<!-- 							<option th:each="deptVO : ${deptListData}" th:value="${deptVO.deptno}" th:text="${deptVO.dname}" /> -->
<!-- 						</select> -->
<!-- 			<span th:if="${#fields.hasErrors('deptVO.deptno')}" th:errors="*{deptVO.deptno}" class="error" id="deptVO.deptno.errors"></span> -->
<!-- 	</div> -->



	<div>
		<div></div>
		<div>
			<button type="submit" id="submit">送出新增</button>
		</div>
		<div></div>
	</div>
	</form>

	</div>


	<!-- JavaScript part -->
	<script type="text/javascript">
		//清除提示信息
		function hideContent(d) {
			document.getElementById(d).style.display = "none";
		}
	</script>

</body>
</html>